*~
/build
/Linux-*
/Darwin-*
kbuild*
*#*#
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
src/demos/asciiCalc
src/demos/asciiGraph
*.o
src/*/CMakeFiles/*
src/*/*/CMakeFiles/*
src/demos/*/moc_*.cxx
src/demos/segraph/segraph
src/doc/Doxyfile
*.a
*.dylib
src/SeExpr/generated/*
src/SeExpr/SeExprParser*.*
src/SeExpr/y.*
src/tests/basic
